---
import MarqueeRight from "../../components/MarqueeRight.jsx";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ImageComp from "../../components/ImageComp.astro";
import MarqueeLeft from "../../components/MarqueeLeft.jsx";
import CTA from "../../components/CTA.astro";
import imagesMarqueeRight from "../../data/imagesMarqueeRight.js";
import imagesMarqueeLeft from "../../data/imagesMarqueeLeft.js";
---

<BaseLayout
  siteTitle="About TruFlight Academy - Premier Dallas Helicopter Flight School"
  siteDescription="Learn about TruFlight Academy's mission, experienced flight instructors, and commitment to professional helicopter pilot training in Dallas, Texas. Discover why we're the top choice for aviation education."
  schemaType="about"
  currentPage="Our Story"
>
  <section class="mt-18 flex flex-col gap-10 py-10 lg:mt-24" slot="hero">
    <MarqueeRight client:only="react">
      <div class="flex gap-10 px-5">
        {
          imagesMarqueeRight.map((image) => (
            <ImageComp
              src={image.src}
              alt={image.alt}
              classes="size-48 lg:size-72 rounded-2xl object-cover"
            />
          ))
        }
      </div>
    </MarqueeRight>

    <MarqueeLeft client:only="react">
      <div class="flex gap-10 px-5">
        {
          imagesMarqueeLeft.map((image) => (
            <ImageComp
              src={image.src}
              alt={image.alt}
              classes="size-48 lg:size-72 rounded-2xl object-cover"
            />
          ))
        }
      </div>
    </MarqueeLeft>
  </section>

  <section class="mx-auto my-12 max-w-2xl lg:my-20 lg:max-w-6xl">
    <div class="mx-auto flex max-w-7xl flex-col gap-20 px-4 lg:px-12">
      <div class="flex flex-1 flex-col gap-5">
        <h1
          class="font-display max-w-lg text-4xl font-black tracking-wide text-pretty italic sm:text-5xl"
        >
          Our Story
        </h1>
        <p class="tracking-wider text-gray-700 lg:text-lg">
          Founded in December 2021, TruFlight Academy LLC was built on a passion
          for aviation and a commitment to excellence in helicopter training.
          Owned and operated by Scarlett and Todd Guison, TruFlight proudly
          represents both a Women-Owned and Veteran-Owned business rooted in
          dedication, service, and professionalism.
        </p>
        <p class="tracking-wider text-gray-700 lg:text-lg">
          Scarlett serves as the Academy’s Operating Manager, ensuring that
          every student’s training experience is seamless from the first phone
          call to the final checkride. Leading the flight line is Chief Pilot
          Todd Guison, a certified Helicopter Flight Instructor, Helicopter
          Instrument Instructor, and former U.S. Army aviator with years of
          operational and instructional experience. Todd brings the discipline,
          precision, and passion for teaching that only a combat-trained pilot
          can provide.
        </p>
        <p class="tracking-wider text-gray-700 lg:text-lg">
          At TruFlight Academy, we believe the right aircraft makes all the
          difference in your training. That’s why we train in the Guimbal Cabri
          G2, the most advanced training helicopter on the market today. With
          modern avionics, safety-first design, and unmatched handling, the
          Cabri G2 ensures our students are flying with the very best technology
          available.
        </p>
        <p class="tracking-wider text-gray-700 lg:text-lg">
          But TruFlight is more than just helicopters and ratings, it’s a
          family-driven school where every student is treated like part of the
          team. Whether you’re here for your first Discovery Flight or working
          toward your Commercial License, our mission is to provide not just
          instruction, but mentorship, encouragement, and an unforgettable
          journey into aviation.
        </p>
      </div>
    </div>

    <CTA
      text="Ready to take the next step and make your pilot dreams a reality?"
    />
  </section>
</BaseLayout>
