---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "../../components/BaseHead.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);

const headerData = {
  title: "Our Blog",
  primaryImage: "/src/assets/truflight-helicopter-in-the-sunset.jpg",
  primaryAlt: "TruFlight Helicopter in the sunset",
};
---

<BaseLayout>
  <Header slot="hero" data={headerData} />
  <section class="bg-primary-50/50">
    <div class="mx-auto flex max-w-7xl flex-col gap-5 px-4 lg:px-12">
      <div
        class="my-10 grid w-full gap-10 sm:grid-cols-2 sm:justify-center md:grid-cols-3 lg:my-20"
      >
        {posts.map((post) => <BlogPostCard {...post} />)}
      </div>
    </div>
  </section>
</BaseLayout>
