@import "tailwindcss";
/* @plugin "@tailwindcss/typography"; */

@theme {
  --color-primary-50: #fdf1e8;
  --color-primary-100: #fbdcbf;
  --color-primary-200: #f7b783;
  --color-primary-300: #f29247;
  --color-primary-400: #f07b28;
  --color-primary-500: #ef7016;
  --color-primary-600: #d16314;
  --color-primary-700: #a94e0f;
  --color-primary-800: #7d390b;
  --color-primary-900: #532407;
  --color-primary-950: #321505;
  --color-accent-50: #edf0f3;
  --color-accent-100: #cfd6dd;
  --color-accent-200: #a7b1bb;
  --color-accent-300: #7f8c99;
  --color-accent-400: #556272;
  --color-accent-500: #19232d;
  --color-accent-600: #151d25;
  --color-accent-700: #10171d;
  --color-accent-800: #0b1014;
  --color-accent-900: #070a0c;
  --color-accent-950: #040506;

  --font-mulish: "Mulish", sans-serif;
  --font-display: "Playfair Display Variable", serif;

  --animate-takeoff: takeoff 1.8s ease-out;

  @keyframes takeoff {
    from {
      transform: translateY(35rem);
    }
    to {
      transform: translateY(0);
    }
  }
}

.btn-primary {
  @apply bg-primary-500 flex items-center gap-3 rounded-full px-9 py-3 font-semibold tracking-tight whitespace-nowrap text-white uppercase shadow-lg shadow-gray-300 duration-500 hover:bg-white hover:text-black;
}

.btn-secondary {
  @apply hover:bg-primary-500 hover:border-primary-500 flex w-fit items-center gap-3 rounded-full border border-black px-9 py-3 text-sm font-semibold tracking-tight text-black duration-500 hover:text-white lg:text-base;
}

.btn-tertiary {
  @apply hover:text-primary-500 flex w-fit items-center gap-3 rounded-full px-9 py-3 text-sm font-semibold tracking-tight shadow-gray-300 duration-500 lg:text-base;
}
