<!-- Elfsight Instagram Feed -->
<section>
  <div class="mx-auto max-w-7xl px-4 py-24 lg:px-12">
    <script src="https://elfsightcdn.com/platform.js" async></script>
    <div class="elfsight-app-a9453111-37af-4b23-a537-951078d76aa6" data-elfsight-app-lazy></div>
  </div>
</section>
