---
import BaseLayout from "../layouts/BaseLayout.astro";
import { PHONE_NUMBER } from "../consts";
import Header from "../components/Header.astro";

const headerData = {
  title: "Thank you for enrolling",
  primaryImage:
    "/src/assets/instructor-with-student-on-helicopter-truflight-mckinney-pilot-school.jpg",
  primaryAlt: "TruFlight Academy Instructor with Student on Helicopter",
};
---

<BaseLayout
  siteTitle="Thank You for Enrolling at TruFlight Academy"
  siteDescription="We’ve received your enrollment! A member of the TruFlight Academy team will get back to you shortly. In the meantime, feel free to explore our training programs or contact us if you have any immediate questions."
>
  <Header data={headerData} slot="hero" />
  <section class="flex justify-center py-20">
    <div
      class="from-main-blue absolute top-0 h-[20vh] w-full bg-gradient-to-bl from-0% via-transparent via-30%"
    >
    </div>
    <div class="text-center md:w-4/5 lg:w-3/5">
      <h2 class="py-10 text-4xl font-bold">Thank you for enrolling</h2>

      <div class="flex flex-row justify-center">
        <div class="mb-10 rounded-full bg-green-200 px-4 py-3">
          <div class="text-5xl text-green-700">✓</div>
        </div>
      </div>

      <p class="px-5">
        Thank you for enrolling at TruFlight Academy. We are excited to work
        with you soon. We will review your enrollment and respond within 1-5
        business days. <br />
        You can also call us at <a
          href=`tel:${PHONE_NUMBER}`
          class="hover:text-main-color hover:underline">{PHONE_NUMBER}</a
        >.
      </p>

      <div class="flex flex-row justify-center pt-10">
        <a href="/">
          <div class="btn-primary mb-10 w-52">HOME</div>
        </a>
      </div>
    </div>
  </section>
</BaseLayout>
