---
import HomepageHeader from "../components/HomepageHeader.astro";
import ImageComp from "../components/ImageComp.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { FaCheck } from "react-icons/fa";
---

<BaseLayout
  siteTitle="TruFlight Academy"
  siteDescription="Looking for a helicopter flight school in Dallas, TX? Discover the best training at TruFlight Academy. Start your journey to becoming a skilled helicopter pilot today!"
>
  <HomepageHeader slot="hero" />

  <section>
    <div
      class="mx-auto flex max-w-xl flex-col-reverse items-center gap-10 px-4 py-24 lg:max-w-7xl lg:flex-row lg:gap-10 lg:px-12"
    >
      <div class="flex-1">
        <ImageComp
          src="/src/assets/helicopter-taking-off-at-truflight-academy.avif"
          alt="A helicopter taking off at TruFlight Academy"
          classes="aspect-square rounded-md object-cover"
        />
      </div>
      <div class="flex flex-1 flex-col">
        <strong class="text-medium-blue text-primary-500 text-lg font-bold"
          >About Us</strong
        >
        <h2
          class="text-dark-blue font-display mb-5 text-5xl leading-tight font-bold"
        >
          Your Journey to Becoming a Helicopter Pilot Starts Here
        </h2>
        <p
          class="text-accent-400 max-w-lg text-sm font-medium tracking-wider lg:text-base/6"
        >
          At TruFlight Academy, we are dedicated to making your helicopter
          flight dreams a reality. As one of the leading helicopter flight
          schools in Dallas, our state-of-the-art aircraft and our highly
          trained CFIs provide you with the ability to obtain the certification
          you seek. Our commitment is to provide you with the in-depth
          knowledge, skills and confidence you need for success.
        </p>

        <ul class="my-3 flex flex-col gap-2 font-bold">
          <li class="flex items-center gap-3">
            <FaCheck className="text-primary-500" />
            Beginners looking to start their helicopter flight training
          </li>
          <li class="flex items-center gap-3">
            <FaCheck className="text-primary-500" />
            Fixed-wing pilots seeking to upgrade their skills to helicopters
          </li>
          <li class="flex items-center gap-3">
            <FaCheck className="text-primary-500" />
            Experienced helicopter pilots aiming to enhance their skills
          </li>
          <li class="flex items-center gap-3">
            <FaCheck className="text-primary-500" />
            Anyone interested in pursuing a career in aviation
          </li>
        </ul>

        <p
          class="text-accent-400 max-w-lg text-sm font-medium tracking-wider lg:text-base/6"
        >
          Join us at TruFlight Academy and take the first step towards your
          dream of becoming a helicopter pilot!
        </p>

        <div class="mt-5 flex flex-col items-center gap-5 sm:flex-row">
          <a href="/contact-us" class="btn-secondary"> Contact Us </a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-primary-50/50">
    <div
      class="mx-auto flex max-w-xl flex-col items-center gap-10 px-4 py-24 lg:max-w-7xl lg:gap-10 lg:px-12"
    >
      <h2 class="mx-auto text-center">
        <strong class="text-medium-blue text-primary-500 text-lg font-bold"
          >Why Choose</strong
        >
        <br />
        <span
          class="text-dark-blue font-display mb-5 text-4xl leading-tight font-bold lg:text-5xl"
          >TruFlight Academy</span
        >
      </h2>

      <div class="grid grid-cols-3">
        <div
          class="border-primary-50/50 flex flex-col gap-3 border-2 bg-white p-8 duration-500 hover:z-40 hover:shadow-[0_0_25px_rgb(239,112,22)]"
        >
          <h3 class="font-display text-2xl font-semibold lg:text-3xl">
            Professional CFIs
          </h3>
          <p class="text-accent-400 text-sm/6 font-medium tracking-wider">
            Our Certified Flight Instructors (CFIs) are experienced and
            dedicated to helping you achieve your aviation goals.
          </p>
        </div>
        <div
          class="border-primary-50/50 flex flex-col gap-3 border-2 bg-white p-8 duration-500 hover:z-40 hover:shadow-[0_0_25px_rgb(239,112,22)]"
        >
          <h3 class="font-display text-2xl font-semibold lg:text-3xl">
            Modern Cabri G2 Helicopters
          </h3>
          <p class="text-accent-400 text-sm/6 font-medium tracking-wider">
            We use modern Cabri G2 helicopters for training, ensuring a safe and
            effective learning experience.
          </p>
        </div>
        <div
          class="border-primary-50/50 flex flex-col gap-3 border-2 bg-white p-8 duration-500 hover:z-40 hover:shadow-[0_0_25px_rgb(239,112,22)]"
        >
          <h3 class="font-display text-2xl font-semibold lg:text-3xl">
            Flexible Training Options
          </h3>
          <p class="text-accent-400 text-sm/6 font-medium tracking-wider">
            We offer flexible training options, including on-site student
            housing and mobile training at private airports or residences.
          </p>
        </div>
        <div
          class="border-primary-50/50 flex flex-col gap-3 border-2 bg-white p-8 duration-500 hover:z-40 hover:shadow-[0_0_25px_rgb(239,112,22)]"
        >
          <h3 class="font-display text-2xl font-semibold lg:text-3xl">
            Helicopter Rentals
          </h3>
          <p class="text-accent-400 text-sm/6 font-medium tracking-wider">
            We offer helicopter rentals for those looking to gain more flight
            experience or for personal use.
          </p>
        </div>
        <div
          class="border-primary-50/50 flex flex-col gap-3 border-2 bg-white p-8 duration-500 hover:z-40 hover:shadow-[0_0_25px_rgb(239,112,22)]"
        >
          <h3 class="font-display text-2xl font-semibold lg:text-3xl">
            External Load Instruction
          </h3>
          <p class="text-accent-400 text-sm/6 font-medium tracking-wider">
            Our external load instruction prepares you for specialized flying
            tasks, enhancing your skill set.
          </p>
        </div>
        <div
          class="border-primary-50/50 flex flex-col gap-3 border-2 bg-white p-8 duration-500 hover:z-40 hover:shadow-[0_0_25px_rgb(239,112,22)]"
        >
          <h3 class="font-display text-2xl font-semibold lg:text-3xl">
            Discovery Flights
          </h3>
          <p class="text-accent-400 text-sm/6 font-medium tracking-wider">
            We offer discovery flights for those interested in experiencing the
            thrill of flying a helicopter.
          </p>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
