---
import { FaArrowRight } from "react-icons/fa6";
import Features from "../components/Features.astro";
import HomepageHeader from "../components/HomepageHeader.astro";
import ImageComp from "../components/ImageComp.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { FaCheck } from "react-icons/fa";
import TrainingCoursesCarrousel from "../components/TrainingCoursesCarrousel";
import ExternalLoadIcon from "../assets/external-load.svg";
import PilotTrainingIcon from "../assets/pilot-training.svg";
import DiscoveryFlightIcon from "../assets/discovery-flight.svg";
import AirplaneIcon from "../assets/airplane.svg";
import { TbStatusChange } from "react-icons/tb";
import { FaHelicopterSymbol } from "react-icons/fa6";
import FAQSchema from "../components/schema/FAQSchema.astro";
import { generalFAQs } from "../data/faqs.js";
---

<FAQSchema faqs={generalFAQs} name="Helicopter Flight Training FAQs" />

<BaseLayout
  siteTitle="Helicopter Flight School in Dallas, TX | TruFlight Academy – Private, Commercial & Advanced Training"
  siteDescription="TruFlight Academy is Dallas’s premier helicopter flight school offering discovery flights, private pilot, commercial pilot, instrument rating, and external load training. Train with experienced instructors, fly modern Cabri G2 helicopters, and take the first step toward your aviation career today."
>
  <HomepageHeader slot="hero" />

  <section>
    <div
      class="mx-auto grid max-w-7xl place-content-center place-items-center gap-5 px-4 py-16 sm:grid-cols-3 sm:gap-10 lg:grid-cols-6 lg:px-12"
    >
      <a
        href="/pilot-training/private-pilot"
        class="group flex flex-col items-center gap-2 text-center"
      >
        <PilotTrainingIcon
          class="size-20 duration-100 group-hover:scale-110 group-hover:rotate-[35deg] sm:size-28"
        />
        <h3
          class="text-dark-blue font-display group-hover:text-primary-500 text-xl font-bold duration-100 group-hover:scale-125"
        >
          Pilot Training
        </h3>
      </a>
      <a
        href="/discovery-flight"
        class="group flex flex-col items-center gap-2 text-center"
      >
        <DiscoveryFlightIcon
          class="size-20 duration-100 group-hover:scale-110 group-hover:rotate-[35deg] sm:size-28"
        />
        <h3
          class="text-dark-blue font-display group-hover:text-primary-500 text-xl font-bold duration-100 group-hover:scale-125"
        >
          Discovery Flight
        </h3>
      </a>
      <a
        href="/add-on/private-helicopter-add-on"
        class="group flex flex-col items-center gap-2 text-center"
      >
        <AirplaneIcon
          class="size-20 duration-100 group-hover:scale-110 group-hover:rotate-[35deg] sm:size-28"
        />
        <h3
          class="text-dark-blue font-display group-hover:text-primary-500 text-xl font-bold duration-100 group-hover:scale-125"
        >
          Already a Pilot?
        </h3>
      </a>
      <a
        href="/pilot-training/external-load-training"
        class="group flex flex-col items-center gap-2 text-center"
      >
        <ExternalLoadIcon
          class="size-20 duration-100 group-hover:scale-110 group-hover:rotate-[35deg] sm:size-28"
        />
        <h3
          class="text-dark-blue font-display group-hover:text-primary-500 text-xl font-bold duration-100 group-hover:scale-125"
        >
          External Load Training
        </h3>
      </a>
      <a
        href="#weComeToYou"
        class="group flex flex-col items-center gap-2 text-center"
      >
        <TbStatusChange
          className="size-20 duration-100 group-hover:scale-110 group-hover:rotate-[35deg] sm:size-28"
        />
        <h3
          class="text-dark-blue font-display group-hover:text-primary-500 text-xl font-bold duration-100 group-hover:scale-125"
        >
          We Come To You
        </h3>
      </a>
      <a
        href="/book-now"
        class="group flex flex-col items-center gap-2 text-center"
      >
        <FaHelicopterSymbol
          className="size-20 duration-100 group-hover:scale-110 group-hover:rotate-[35deg] sm:size-28"
        />
        <h3
          class="text-dark-blue font-display group-hover:text-primary-500 text-xl font-bold duration-100 group-hover:scale-125"
        >
          Book Now
        </h3>
      </a>
    </div>
  </section>

  <!-- Elfsight Instagram Feed -->
  <section>
    <div class="mx-auto max-w-7xl px-4 py-24 lg:px-12">
      <script src="https://elfsightcdn.com/platform.js" async></script>
      <div
        class="elfsight-app-a9453111-37af-4b23-a537-951078d76aa6"
        data-elfsight-app-lazy
      >
      </div>
    </div>
  </section>

  <section>
    <div class="mx-auto max-w-7xl px-4 py-24 lg:px-12">
      <div class="mb-10 flex flex-col gap-5">
        <strong class="text-medium-blue text-primary-500 text-lg font-bold"
          >Choose Training Program
        </strong>
        <h2 class="font-display text-3xl font-bold lg:text-5xl">
          Find the right program for you
        </h2>
      </div>
      <TrainingCoursesCarrousel client:visible />
    </div>
  </section>

  <section>
    <div
      class="mx-auto flex max-w-xl flex-col-reverse items-center gap-10 px-4 py-24 lg:max-w-7xl lg:flex-row lg:gap-10 lg:px-12"
    >
      <div class="flex-1">
        <ImageComp
          src="/src/assets/helicopter-taking-off-at-truflight-academy.avif"
          alt="A helicopter taking off at TruFlight Academy"
          classes="aspect-square rounded-md object-cover"
        />
      </div>
      <div class="flex flex-1 flex-col">
        <strong class="text-medium-blue text-primary-500 text-lg font-bold"
          >About Us</strong
        >
        <h2
          class="text-dark-blue font-display mb-5 text-5xl leading-tight font-bold"
        >
          Your Journey to Becoming a Helicopter Pilot Starts Here
        </h2>
        <p
          class="text-accent-400 max-w-lg text-sm font-medium tracking-wider lg:text-base/6"
        >
          At TruFlight Academy, we are dedicated to making your helicopter
          flight dreams a reality. As one of the leading helicopter flight
          schools in Dallas, our state-of-the-art aircraft and our highly
          trained CFIs provide you with the ability to obtain the certification
          you seek. Our commitment is to provide you with the in-depth
          knowledge, skills and confidence you need for success.
        </p>

        <ul class="my-3 flex flex-col gap-2 font-bold">
          <li class="flex items-center gap-3">
            <FaCheck className="text-primary-500" />
            Beginners looking to start their helicopter flight training
          </li>
          <li class="flex items-center gap-3">
            <FaCheck className="text-primary-500" />
            Fixed-wing pilots seeking to upgrade their skills to helicopters
          </li>
          <li class="flex items-center gap-3">
            <FaCheck className="text-primary-500" />
            Experienced helicopter pilots aiming to enhance their skills
          </li>
          <li class="flex items-center gap-3">
            <FaCheck className="text-primary-500" />
            Anyone interested in pursuing a career in aviation
          </li>
        </ul>

        <p
          class="text-accent-400 max-w-lg text-sm font-medium tracking-wider lg:text-base/6"
        >
          Join us at TruFlight Academy and take the first step towards your
          dream of becoming a helicopter pilot!
        </p>

        <div class="mt-5 flex flex-col items-center gap-5 sm:flex-row">
          <a href="/contact-us" class="btn-secondary"> Contact Us </a>
        </div>
      </div>
    </div>
  </section>

  <Features />

  <section id="weComeToYou" class="scroll-mt-20">
    <div
      class="mx-auto flex max-w-xl flex-col px-4 py-24 lg:max-w-7xl lg:flex-row lg:px-12"
    >
      <div class="flex-1">
        <ImageComp
          src="/src/assets/bottom-view-from-truflight-helicopter.jpg"
          alt="A helicopter in Dallas at TruFlight Academy"
          classes="lg:rounded-l-lg object-cover h-full w-full rounded-t-lg lg:rounded-tr-none"
        />
      </div>
      <div
        class="bg-dark-gray flex-1 rounded-b-lg text-white lg:rounded-r-lg lg:rounded-bl-none"
      >
        <div class="flex flex-col px-12 py-12 lg:py-20">
          <strong class="text-medium-blue text-primary-500 text-lg font-bold"
            >We Come To You
          </strong>
          <h2
            class="text-dark-blue font-display my-5 text-3xl leading-tight font-bold lg:text-4xl"
          >
            We Bring the Best Helicopter Flight Training to Your Location
          </h2>
          <p
            class="text-accent-100 text-sm font-medium tracking-wider lg:text-base/6"
          >
            You contact us and we fly out to you to give you your flight lesson.
            If lessons are at an airport where more than one student is flying
            with us that day, convenience fee can be split equally between
            students. Convenience fee is simply a there and back ferry flight
            cost. We are located just north of McKinney.
          </p>

          <div class="mt-5 flex flex-col gap-5 sm:flex-row">
            <a
              href="/contact-us"
              class="btn-secondary hover:border-primary-500! border-white! text-white!"
              >Contact Us
              <FaArrowRight />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
