---
import type { IconType } from "react-icons";
const { icon, title, description, link } = Astro.props as {
  icon: keyof typeof icons;
  title: string;
  description: string;
  link: string;
};
import { FiAward, FiMonitor, FiClock, FiMap, FiLoader, FiAirplay } from "react-icons/fi";
import { LiaHelicopterSolid, LiaWeightHangingSolid } from "react-icons/lia";
import { GiHelicopterTail } from "react-icons/gi";
import { AiOutlineSafety } from "react-icons/ai";
import { FaPeopleGroup } from "react-icons/fa6";
import { FaChalkboardTeacher } from "react-icons/fa";
import { PiTreeStructure } from "react-icons/pi";
import { HiArrowRightStartOnRectangle } from "react-icons/hi2";

const icons = {
  FiAward: FiAward,
  FiMonitor: FiMonitor,
  FiClock: FiClock,
  FiMap: FiMap,
  FiLoader: FiLoader,
  FiAirplay: FiAirplay,
  LiaHelicopterSolid: LiaHelicopterSolid,
  LiaWeightHangingSolid: LiaWeightHangingSolid,
  GiHelicopterTail: GiHelicopterTail,
  AiOutlineSafety,
  FaPeopleGroup,
  FaChalkboardTeacher,
  PiTreeStructure,
  HiArrowRightStartOnRectangle,
};

const Icon = icons[icon] as IconType;
---

<a
  href={link}
  class="border-primary-50/50 group flex flex-col gap-3 border-2 bg-white p-8 duration-500 hover:z-40 hover:shadow-[0_0_25px_rgb(239,112,22)]"
>
  <Icon className="group-hover:text-primary-500 mb-4 size-12 duration-500" />
  <h3 class="font-display text-2xl font-semibold lg:text-3xl">
    {title}
  </h3>
  <p class="text-accent-400 text-sm/6 font-medium tracking-wider">
    {description}
  </p>
</a>
