---
import SwiperGallery from "./SwiperGallery.astro";
---

<h1 class="sr-only">
  Take Off with the Best Helicopter Flight School in Dallas, Texas
</h1>
<div
  class="bg-primary-50/50 text-accent-500 relative flex flex-col overflow-hidden pt-20 lg:h-screen lg:pt-28"
>
  <SwiperGallery />
</div>
