---
import ImageComp from "./ImageComp.astro";
import { FaArrowRight } from "react-icons/fa6";
---

<div
  class="bg-primary-50/50 text-accent-500 relative flex overflow-hidden pt-32 lg:h-screen lg:pt-0"
>
  <div
    class="mx-auto flex max-w-[98rem] flex-col items-center justify-center gap-10 px-4 lg:flex-row lg:px-12"
  >
    <ImageComp
      src="/src/assets/blob-haikei.svg"
      alt="Decorative blob background"
      classes="absolute top-0 left-0 z-[-1] h-full w-full object-cover opacity-30"
      loading="eager"
    />
    <div class="flex-[1.5_1.5_0]">
      <div class="flex w-full flex-col gap-3">
        <p class="font-semibold tracking-widest uppercase italic">
          Grow Your <span class="text-primary-500">Career</span> With TruFlight
        </p>
        <h1 class="font-display text-4xl font-semibold lg:text-7xl/20">
          Take Off with the Best Helicopter Flight School in Dallas
        </h1>
        <p
          class="text-accent-400 max-w-lg text-sm font-medium tracking-wider lg:text-base/7"
        >
          Looking for a helicopter flight school in Dallas, TX? Discover the
          best training at TruFlight Academy. Start your journey to becoming a
          skilled helicopter pilot today!
        </p>
        <div class="mt-2 flex flex-col gap-5 sm:flex-row">
          <a href="/enrollment-form" class="group btn-secondary">
            Start Training
            <FaArrowRight
              className="text-primary-500 duration-500 group-hover:text-white"
            />
          </a>
          <a href="#trainingPrograms" class="group btn-tertiary"
            >Book a Discovery Flight
            <FaArrowRight
              className="duration-500 group-hover:translate-x-2 group-hover:scale-125"
            />
          </a>
        </div>
      </div>
    </div>

    <div class="flex-1">
      <ImageComp
        src="/src/assets/truflight-helicopter.png"
        alt="Vibrant image of a helicopter in flight in TruFlight Academy"
        classes="object-cover animate-takeoff"
        loading="eager"
      />
    </div>
  </div>
</div>
