---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import Navbar from "../components/Navbar";
const { pathname } = Astro.url;
const { siteTitle, siteDescription, siteImage, schemaType, schemaData } =
  Astro.props;
import ImageComp from "../components/ImageComp.astro";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={siteTitle || SITE_TITLE}
      description={siteDescription || SITE_DESCRIPTION}
      image={siteImage}
      schemaType={schemaType}
      schemaData={schemaData}
    />
  </head>
  <body class="font-mulish">
    <header>
      <Navbar pathname={pathname} client:load />
    </header>
    <main>
      <slot name="hero" />
      <slot />
    </main>
    <script
      src="https://widgets.leadconnectorhq.com/loader.js"
      data-resources-url="https://widgets.leadconnectorhq.com/chat-widget/loader.js"
      data-widget-id="68b9fd62ab2b79d6490daf1c"></script>
    <Footer />
  </body>
</html>
