---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, DEFAULT_KEYWORDS } from "../consts";
import Navbar from "../components/Navbar";
const { pathname } = Astro.url;
const { siteTitle, siteDescription, siteImage, siteKeywords } = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead
      title={siteTitle || SITE_TITLE}
      description={siteDescription || SITE_DESCRIPTION}
      image={siteImage}
      keywords={siteKeywords || DEFAULT_KEYWORDS.join(", ")}
    />
  </head>
  <body class="font-mulish">
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-N8R7V9MJ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <header>
      <Navbar pathname={pathname} client:load />
    </header>
    <main>
      <slot name="hero" />
      <slot />
    </main>
    <script
      src="https://widgets.leadconnectorhq.com/loader.js"
      data-resources-url="https://widgets.leadconnectorhq.com/chat-widget/loader.js"
      data-widget-id="68b9fd62ab2b79d6490daf1c"></script>
    <Footer />
  </body>
</html>
